.under-talk-header{
		background-color: inherit;
}
.alcen{
	align-items: center;
}
.logo{
	width: 15rem;
}
.text-center{
	text-align: center;
}
.center-work-with-us{
	    justify-content: center;
    display: flex;
}
.main-man{
	/*width: ;*/
}
body{
		background-color: #FFFCEC !important;
}
.navbar-margin{
		margin-left: 0 !important;
}
.nav-item-text{
		color: black!important;
		font-size: 16px;
		font-weight: bold;
}
.work-with-us-button{
  	border-radius: 40px;
		width: fit-content!important;
		background-color: black!important;
		color: white!important;
		padding: 16px 28px 16px 28px !important;
		gap: 10px;
}

.work-with-us-button-in-text{
	border-radius: 22px;
	width: fit-content!important;
	background-color: black!important;
	color: white!important;
	text-decoration:none;
	padding: 10px 28px 10px 28px !important;
	gap: 10px;
}

/*.f-size:h2{*/
/*	font-size: 70px;*/
/*}*/
/*==================================================stage 1==================================================*/
.call-center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.montserrat{
	font-family: 'Montserrat';
	font-weight: 600;
	text-align: left;
}

.call-center-text {
  flex: 1;
  margin-right: 2rem;
}
.call-center-1{
	font-size: 60px;
}
.call-center-2{
	font-size: 20px;
	//styleName: B1;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;

}
/*==================================================glider-card==================================================*/
.call-center-glider{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.glider-card{
	background-color: #A3E3EA;
	width: 35rem;
	height: 10rem;
	padding: 20px 36px 20px 36px;
	border-radius: 20px;
	margin-top: 2rem;

}
.glider-card-row{
	width: fit-content;
	height: fit-content;
}
.glider-card-icon{
	width: 82px!important;
	height: 82px!important;
}
.glider-card-icon-div{
	width: 82px!important;
	height: 82px!important;
}
.glider-card-text-div{
  margin-left: 2.5rem;
}
.glider-up-side{
	width: fit-content;
	height: fit-content;
}
.glider-card-text-1{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	margin-bottom: 5px;


}
.glider-card-text-2{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	margin: 0;

}
.glider-down-side{
	margin-top: 25px;
}

.line {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  align-items: center;
/*  animation: move 3s infinite linear;*/
  background-color: rgba(0, 0, 0, 0.2);
}
.upper-line{
	display: flex;
  justify-content: space-between;
  border-radius: 4px;
  align-items: center;
  animation: move-upper-line  9s infinite linear;
  background-color: rgba(0, 0, 0, 0.6);
      height: 6px;
    z-index: 2;
    position: relative;
    top: 8px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 3;
}
.dot:active{
  background-color: black;
}
/*.glider-card-image-1{
  background-image: url('../img/glider-card-1.png');
}
.glider-card-image-2{
  background-image: url('../img/glider-card-2.png');
}
.glider-card-image-3{
  background-image: url('../img/glider-card-3.png');
}
*/

@keyframes move-upper-line  {
  0% {
  	width: 0%;
  }3

  33% {
  	width: 33%;
  }

  66% {
  	width: 66%;
  }

  100% {
  	width: 100%;
  }
}

.f-size-6{
    font-size: 64px;
    text-align: left;
}
.f-size-7{
    font-size: 7vw;
    text-align: left;
}
.main_man{
	width: 45rem!important;
}
.form-1{
	justify-content: center;
	width: 100%;
	overflow: hidden;
  padding: 7rem 0 10rem 0;
}
.form-1-div{
	width: 100%;
}
.form{
	background-image: url(../img/div-mask.png);
  width: 1920px;
  height: 500px;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  display: flex;
}
.masked-form{
	width: 100%;
	user-select: none;
}
.underline{
	border-bottom: 2px solid black;
/*	text-decoration: unsderline;*/
}
.prefferences{
	background-color: transparent;
	text-align: center;
}
.prefferences-text-1{
	font-size: 46px;
	font-weight: 400;
	line-height: 46px;
}
.prefferences-text-2{
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 25%;
}

.row{
	border: 0px solid transparent;
	background-color: transparent;
}
.pref-card img{
	width: 170px;
  height: 170px;	
}
.pref-card{
	width: 360px;
	height: 360px;
  border-radius: 28px;
}
.card-1{
	background-color: #F9F4FF;
/*	border-color: #BE8AFF ;*/
	border: 3px solid #BE8AFF;

}
.card-2{
	background-color: #E5FFEF;
/*	border-color: #83DD5B;*/
	border: 3px solid #83DD5B;

}
.card-3{
	background-color: #E7FDFF;
/*	border-color: #A3E3EA;*/
	border: 3px solid #A3E3EA;

}

.pref-cards{
	justify-content: space-evenly;
	flex-wrap: wrap;
	display: flex;

}


.card-image {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 170px;
    margin-top: 2rem !important;}





